extends baseEmail

block content 
    p Hi #{firstName},
    p Forgot your password? Submit a PATCH request with your new password to: ${url}.
    p (Not yet implemented in the website, Contact us)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
         tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset password
    p If you did not forget your password, please ignore this message